<div class="container-fluid">
  <h4><a href="/new" class="navbar-left"><small>New Reservation?</small></a></h4>
</div>
<div class="container-fluid">
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>No. of Seats</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.name %></td>
      <td><%= reservation.time %>:00</td>
      <td><%= reservation.time+1 %>:00</td>
      <td><%= reservation.seats %></td>
      <td>Show</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    <% end %> 
  </table>
</div>